$primaryColor:#3C91E6;
$secondColor :#39A0ED;
$thirdColor:#39A0ED;
@mixin absolute {
  content:'';
  position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}
@mixin displayFlex($direction) {
 display: flex; 
 align-items: center;
 justify-content: center;
 flex-direction: $direction;

}
*{
margin: 0;
padding: 0;
}
body{
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page{
height:100vh;
color: $thirdColor;
.section{
  color: $secondColor;
  font-size: 2rem;
}

}
#about-page{
  .content{
    display: grid;
    grid-template-columns: 3fr 1fr;
   height: 100%;
   .about-para{
     padding-left: 2rem;
     margin-top: 15%;
     opacity: 0.8;
     #whoami{ font-size: 2.5rem;
      color: $primaryColor;
     
    }
     section{
        padding-left: 1.5rem;
        p{
          margin:0;
        }
      }
   }
    .imgOval{
      border-radius: 50%;
      width: 390px;
      height: 450px;
      background-image: url('../img/self.jpg');
      background-size: cover;
      background-position-x: 30%;
    }
 }
}
  
#landing-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../img/lading.jpeg');
  background-size: cover;
  background-position: left ;
  background-attachment: fixed;
  h1,p{
    color:white;
    z-index: 100;
  }
  h1{
    font-size: 4.5vw;
      z-index: 101;
    
    }
  p{
    font-size: 2.4vw;
    color: #E5E5E6;
  }
  &::before{
    @include absolute();
    background-image: linear-gradient(to right bottom, #014e673b 0%, #39a0ed40 60%, #3c91e678 100%);
  }
}
span::after{
  @include absolute();
  background-color: $primaryColor;
}
#half-page{
  padding-top: 2rem;
height: 50vh;
background-color: #014E67;
  #skill-content{
    // margin-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    div{
      @include displayFlex(column);
      justify-content: left;
      text-align: left;
      span{
      font-size: 1rem;
      color:#C8C8C8 ;
      margin-bottom: 1rem;
      transition: all .2s ease-in-out;
      &:hover{
        color: #fff;
        transform: scale(1.4);
      }
      }
      #span-tittle{
      font-size: 1.2rem;
      color: #FBF6F6;
      }
      }
  }
}
#course-page{
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 1.2rem;
  }
}
.card{
      transition: all .2s ease-in-out;
  img{
    size: 400px 500px;
  }
  .card-body{
    height: 250px;
    position: relative; 
  a{
    width: 32%;
    position:absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    margin: auto;
  } 
  }

  &:hover,:focus{
    opacity: 1;
    transform: scale(1) rotate(2deg);
  box-shadow: 2px 0px 8px  rgba(50, 111, 140, 0.5), -2px 0px 8px  rgba(50, 111, 140, 0.5);
  }
  &:focus ~ &,&:hover ~ &{
    opacity: 0.8;
    transform: scale(0.9) rotate(-2deg);
  }
}

